@import '../../../../assets/scss/global_styles.scss';
.error-message {
    text-align: center;
}

.register-message {
    text-align: center;

    a {
        color: $easy-red;
        text-decoration: underline;
    }
}

.form-group {
    .btn-primary {
        background-color: $easy-red;
        border-color: $easy-red;
    }
}