<h2>Donation Bookings in Your Donation Center</h2>


<table class="table table-hover" *ngIf="bookings && bookings.length > 0; else no_bookings">
    <thead>
      <tr>
        <th scope="col" class="th-name">Donor Name</th>
        <th scope="col" class="th-name">Booking Date</th>
        <th scope="col" class="th-name">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings ; let i = index" data-="booking">
        <td class="td-name">{{ booking.donor.firstName }} {{ booking.donor.lastName }}</td>
        <td class="td-name">{{ booking.bookingDate.toLocaleString() }}</td>
        <td>
            <span class="btn btn-success add-button" (click)="open(content, booking)">Add Donation</span>
            <span class="example-spacer"></span>
            <span class="btn btn-danger remove-button" (click)="cancelBooking(booking)">Cancel Booking</span>
        </td>

      </tr>
    </tbody>
  </table>
  <ng-template #no_bookings>
    <h5>No donation bookings in the upcoming period</h5>
  </ng-template>
  

  <ng-template #content let-donormodal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Donor Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="donormodal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <h6>Name: {{ selectedDonor.firstName }} {{ selectedDonor.lastName }}</h6>
        <h6>Email: {{ selectedDonor.email }}</h6>

        <form class="form-horizontal" [formGroup]="bloodDetailsForm">
          
          <div class="form-group col-md-12">
              <label>Blood Group</label>
              <select class="form-control" formControlName="group" [ngClass]="{ 'is-invalid': submitted}">
                  <option selected hidden value="">Please select a blood group</option>
                  <option value=A>A</option>
                  <option value=B>B</option>
                  <option value=AB>AB</option>
                  <option value=0>0</option>
              </select>
          </div>
      
          <div class="form-group col-md-12">
              <label>Blood RH</label>
              <select class="form-control" formControlName="rh" [ngClass]="{ 'is-invalid': submitted}">
                  <option selected hidden value="">Please select rh value</option>
                  <option value=true>Positive</option>
                  <option value=false>Negative</option>
              </select>
          </div>

        </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="donormodal.close()">Close</button>

      <button type="button" class="btn btn-success" (click)="markBookingAsDonated(selectedBooking)">Save Donation</button>

    </div>
  </ng-template>