/* You can add global styles to this file, and also import other style files */

$easy-black: #120309;
$easy-red: #C21E24;
$easy-green: #198715;

$white: #fff;
$black: #120309;
$primary: #fff;
$light-blue: #5C86B3;
$light-gray: #fafaff;
$secondary: #6bb7bc;
$dark-blue: #133961;
$third-color: #133961;
$red: #7f0e24;
$emergency: #7f0e24;
$dark: #120309;
$grey: #dddddd;

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-success {
    background-color: $easy-green;
    border-color: $easy-green;
}

.btn-danger {
    background-color: $easy-red;
    border-color: $easy-red;
}

body {
    background-color: $light-gray;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1400px;

        .nav-link {
            color: white;
        }
    }
}

.nav-link {
    color: white;
}

.container{
    .nav-link {
        color: white;
    }
    .nav-link:hover {
        text-decoration: underline;
    }
    .routerLinkActive {
        text-decoration: underline;
    }
}

.error-message {
    color: red;
}

.log-out {
    img {
        fill: $red;
        width: 32px;
        cursor: pointer;
    }
}

.log-out:hover {
    img {
        fill: $black;
    }
}

.back-button {
    cursor: pointer;
    img {
        width: 32px;
    }
}

.add-button {
    cursor: pointer;
    img {
        width: 32px;
    }
}

.import-button {
    padding-top: 6px;
    cursor: pointer;
    img {
        width: 32px;
    }
}

.export-button {
    padding-top: 6px;
    cursor: pointer;
    img {
        width: 26px;
    }
}

.edit-button {
    cursor: pointer;
    img {
        width: 32px;
    }
}

.invite-button {
    cursor: pointer;
    img {
        width: 32px;
    }
}

.clickable {
    cursor: pointer;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.fixed-heigth-spacer {
    min-height: 30px;
}