
<h2>Recently Created Blood Requests</h2>

<table class="table table-hover" *ngIf="recentRequests && recentRequests.length > 0; else no_requests">
    <thead>
        <tr>
            <th scope="col" class="th-name">SSN</th>
            <th scope="col" class="th-id">Blood Group</th>
            <th scope="col" class="th-name">Blood RH</th>
            <th scope="col" class="th-name">Component</th>
            <th scope="col" class="th-name">Quantity</th>
            <th scope="col" class="th-name">Urgency</th>
            <th scope="col" class="th-name">Status</th>
            <th scope="col" class="th-name">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of recentRequests ; let i = index" data-="requests.id">
            <td class="td-name">{{ request.patient.ssn }}</td>
            <td class="td-name">{{ request.patient.group }}</td>
            <td class="td-name">{{ request.patient.rh }}</td>
            <td class="td-name">{{ request.component }}</td>
            <td class="td-name">{{ request.quantity }}</td>
            <td class="td-name">{{ request.urgency }}</td>
            <td class="td-name">{{ request.status }}</td>
            <td>
                <span class="btn btn-danger remove-button" (click)="cancelRequest(request)">Cancel Request</span>
                <span class="btn btn-success add-button">View Commitments</span>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="partiallyCommittedRequests && partiallyCommittedRequests.length > 0;">

    <h2>Incomplete Blood Requests - waiting for more commitments</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" class="th-name">SSN</th>
                <th scope="col" class="th-id">Blood Group</th>
                <th scope="col" class="th-name">Blood RH</th>
                <th scope="col" class="th-name">Component</th>
                <th scope="col" class="th-name">Quantity</th>
                <th scope="col" class="th-name">Urgency</th>
                <th scope="col" class="th-name">Status</th>
                <th scope="col" class="th-name">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of partiallyCommittedRequests ; let i = index" data-="requests.id">
                <td class="td-name">{{ request.patient.ssn }}</td>
                <td class="td-name">{{ request.patient.group }}</td>
                <td class="td-name">{{ request.patient.rh }}</td>
                <td class="td-name">{{ request.component }}</td>
                <td class="td-name">{{ request.quantity }}</td>
                <td class="td-name">{{ request.urgency }}</td>
                <td class="td-name">{{ request.status }}</td>
                <td>
                    <span class="btn btn-danger add-button">View Commitments</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="fullyCommittedRequests && fullyCommittedRequests.length > 0;">

        <h2>Complete Blood Requests - waiting for delivery</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="th-name">SSN</th>
                    <th scope="col" class="th-id">Blood Group</th>
                    <th scope="col" class="th-name">Blood RH</th>
                    <th scope="col" class="th-name">Component</th>
                    <th scope="col" class="th-name">Quantity</th>
                    <th scope="col" class="th-name">Urgency</th>
                    <th scope="col" class="th-name">Status</th>
                    <th scope="col" class="th-name">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let request of fullyCommittedRequests ; let i = index" data-="requests.id">
                    <td class="td-name">{{ request.patient.ssn }}</td>
                    <td class="td-name">{{ request.patient.group }}</td>
                    <td class="td-name">{{ request.patient.rh }}</td>
                    <td class="td-name">{{ request.component }}</td>
                    <td class="td-name">{{ request.quantity }}</td>
                    <td class="td-name">{{ request.urgency }}</td>
                    <td class="td-name">{{ request.status }}</td>
                    <td>
                        <span class="btn btn-danger add-button">View Commitments</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

      <ng-template #no_requests>
        <h5>You have no recently opened blood requests.</h5>
      </ng-template>
      