
<h2>Active Donation Center Personnel Accounts</h2>

<table class="table table-hover" *ngIf="activeDcpAccounts && activeDcpAccounts.length > 0; else no_active_dcp">
        <thead>
          <tr>
            <th scope="col" class="th-email">Name</th>
            <th scope="col" class="th-email">Email</th>
            <th scope="col" class="th-email">County</th>
            <th scope="col" class="th-email">Date of Birth</th>
            <th scope="col" class="th-email">Donation Center</th>
            <th scope="col" class="th-email">Donation Center Contact</th>
            <th scope="col" class="th-email">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of activeDcpAccounts ; let i = index" data-="account.id">
            <td class="td-email">{{ account.firstName }} {{ account.lastName }}</td>
            <td class="td-email">{{ account.email }}</td>
            <td class="td-email">{{ account.county }}</td>
            <td class="td-email">{{ account.dateOfBirth }}</td>
            <td class="td-email">{{ account.locationName }}</td>
            <td class="td-email">{{ account.locationPhone }}</td>
            <td>
              <span class="btn btn-danger remove-button" (click)="deactivateDCPAcoount(account.id, i)">Deactivate Account</span>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #no_active_dcp>
        <h5>No active donation center personnel.</h5>
      </ng-template>
      
      <h2>Banned Donation Center Personnel Accounts</h2>
      <table class="table table-hover" *ngIf="bannedDcpAccounts && bannedDcpAccounts.length > 0; else no_banned_dcp">
            <thead>
              <tr>
                <th scope="col" class="th-email">Name</th>
                <th scope="col" class="th-email">Email</th>
                <th scope="col" class="th-email">County</th>
                <th scope="col" class="th-email">Date of Birth</th>
                <th scope="col" class="th-email">Donation Center</th>
                <th scope="col" class="th-email">Donation Center Contact</th>
                <th scope="col" class="th-email">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of bannedDcpAccounts" data-="account.id">
                <td class="td-email">{{ account.firstName }} {{ account.lastName }}</td>
                <td class="td-email">{{ account.email }}</td>
                <td class="td-email">{{ account.county }}</td>
                <td class="td-email">{{ account.dateOfBirth }}</td>
                <td class="td-email">{{ account.locationName }}</td>
                <td class="td-email">{{ account.locationPhone }}</td>
              </tr>
            </tbody>
          </table>
          <ng-template #no_banned_dcp>
            <h5>No banned donation center personnel accounts.</h5>
          </ng-template>
          