
<h2>Active Doctor Accounts</h2>

<table class="table table-hover" *ngIf="activeDoctorAccounts && activeDoctorAccounts.length > 0; else no_active_doctors">
        <thead>
          <tr>
            <th scope="col" class="th-email">Name</th>
            <th scope="col" class="th-email">Email</th>
            <th scope="col" class="th-email">County</th>
            <th scope="col" class="th-email">Date of Birth</th>
            <th scope="col" class="th-email">Hospital</th>
            <th scope="col" class="th-email">Hospital Contact</th>
            <th scope="col" class="th-email">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of activeDoctorAccounts ; let i = index" data-="account.id">
            <td class="td-email">{{ account.firstName }} {{ account.lastName }}</td>
            <td class="td-email">{{ account.email }}</td>
            <td class="td-email">{{ account.county }}</td>
            <td class="td-email">{{ account.dateOfBirth }}</td>
            <td class="td-email">{{ account.locationName }}</td>
            <td class="td-email">{{ account.locationPhone }}</td>
            <td>
              <span class="btn btn-danger remove-button" (click)="deactivateDoctorAcoount(account.id, i)">Deactivate Account</span>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #no_active_doctors>
        <h5>No active doctors.</h5>
      </ng-template>
      
      <h2>Banned Doctor Accounts</h2>
      <table class="table table-hover" *ngIf="bannedDoctorAccounts && bannedDoctorAccounts.length > 0; else no_banned_doctors">
            <thead>
              <tr>
                <th scope="col" class="th-email">Name</th>
                <th scope="col" class="th-email">Email</th>
                <th scope="col" class="th-email">County</th>
                <th scope="col" class="th-email">Date of Birth</th>
                <th scope="col" class="th-email">Hospital</th>
                <th scope="col" class="th-email">Hospital Contact</th>
                <th scope="col" class="th-email">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of bannedDoctorAccounts" data-="account.id">
                <td class="td-email">{{ account.firstName }} {{ account.lastName }}</td>
                <td class="td-email">{{ account.email }}</td>
                <td class="td-email">{{ account.county }}</td>
                <td class="td-email">{{ account.dateOfBirth }}</td>
                <td class="td-email">{{ account.locationName }}</td>
                <td class="td-email">{{ account.locationPhone }}</td>
              </tr>
            </tbody>
          </table>
          <ng-template #no_banned_doctors>
            <h5>No banned doctor accounts.</h5>
          </ng-template>
          