
<h2>Active Doctor Accounts</h2>

<table class="table table-hover" *ngIf="activeDoctorAccounts && activeDoctorAccounts.length > 0; else no_active_doctors">
        <thead>
          <tr>
            <th scope="col" class="th-id">Id</th>
            <th scope="col" class="th-email">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of activeDoctorAccounts" data-="account.id">
            <td class="td-id">{{ account.id }}</td>
            <td class="td-email">{{ account.email }}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #no_active_doctors>
        <h5>No active doctors.</h5>
      </ng-template>
      
      <h2>Banned Doctor Accounts</h2>
      <table class="table table-hover" *ngIf="bannedDoctorAccounts && bannedDoctorAccounts.length > 0; else no_banned_doctors">
            <thead>
              <tr>
                <th scope="col" class="th-id">Id</th>
                <th scope="col" class="th-email">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let accountof bannedDoctorAccounts" data-="account.id">
                <td class="td-id">{{ account.id }}</td>
                <td class="td-email">{{ account.email }}</td>
              </tr>
            </tbody>
          </table>
          <ng-template #no_banned_doctors>
            <h5>No banned doctor accounts.</h5>
          </ng-template>
          