<div class="row nav-bar">
    <span class="col-lg-1"></span>
    <div class="logo-div col-lg-10">
        <img class="faculty-logo" src="../../../assets/images/bloodDrop.jpg">
    </div>
    <span class="col-lg-1 my-auto log-out">
        <img src="../../../assets/svgs/log-out.svg" [ngStyle]="{'visibility': canLogout ? 'visible' : 'hidden'}" (click)="logout()">
    </span>
</div>

<div class="content">
    <div class="card col-lg-8 mx-auto mt-3 p-5">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="mb-5"></div>