<div class="row nav-bar">
    <mat-toolbar color="primary">
                <span>
                    <img class="faculty-logo" src="../../../assets/images/bloodDrop.jpg">
                    Donation Center Personnel
                </span> <span class="example-spacer"></span>
                <a routerLink="all-donors" class="error-message" mat-button>All Donors</a> 
                <a routerLink="bookings" class="error-message" mat-button>Bookings</a> 
                <span class="example-fill-remaining-space"></span>
                <a class="error-message" mat-button (click)="logout()">Logout</a> 
        </mat-toolbar>
    </div>  
        
        <div class="content">
            <div class="card col-lg-10 mx-auto mt-3 p-5">
                <router-outlet></router-outlet>
            </div>
        </div>
            
        <div class="mb-5"></div>