<div class="row nav-bar">
        <span class="col-lg-2 my-auto">
            <img class="faculty-logo" src="../../../assets/images/bloodDrop.jpg">
            <span class="col-lg-1 my-auto"></span>
            <a class="error-message" routerLink="">Easy Help</a>
        </span>
        <div class="logo-div col-lg-9"></div>
        <span class="col-lg-1 my-auto log-out">
            <a class="error-message" routerLink="/login">Login</a>
        </span>
</div>
    
    <div class="content">
        <div class="card col-lg-8 mx-auto mt-3 p-5">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <div class="mb-5"></div>