<div class="row nav-bar">
    <mat-toolbar color="primary">
                <span>
                    <img class="faculty-logo" src="../../../assets/images/bloodDrop.jpg">
                    Doctor
                </span> <span class="example-spacer"></span>
                <a routerLink="request" class="error-message" mat-button>Request Blood</a> 
                <a routerLink="add-patient" class="error-message" mat-button>Add Patient</a> 
        </mat-toolbar>
    </div>  
        
        <div class="content">
            <div class="card col-lg-10 mx-auto mt-3 p-5">
                <router-outlet></router-outlet>
            </div>
        </div>
            
        <div class="mb-5"></div>