<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="background-color: #C21E24;">
    <div class="container">
        <a class="navbar-brand" style="color: white;">Doctor App</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="request" routerLinkActive="routerLinkActive">Request Blood</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="patients" routerLinkActive="routerLinkActive">My Patients</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="my-requests" routerLinkActive="routerLinkActive">My Requests</a></li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" (click)="logout()">Logout</a> 
            </li>
          </ul>
    </div>
</nav>

        <div class="content">
            <div class="card col-lg-10 mx-auto mt-3 p-5">
                <router-outlet></router-outlet>
            </div>
        </div>
            
        <div class="mb-5"></div>